:root {
    --main-title-color: #FFFFFF;
    --secondary-title-color: #303030;
    --main-btn-color: #FFFFFF;
    --background-color: #E5E5E5;
    --accent-color: #FF6C00;
    --secondary-background-color: #191C26;
    --text-color: #555555;
    --secondary-text-color: #9DA4BD;
    --section-secondary-bcg-color: #F7F7F7;
    --section-text-opacity: rgba(157, 164, 189, 0.6);
}
body {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    margin: 0;
}
/* Reset starts */
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: currentColor;
} /* Reset ends */
.button {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
}
/* HEADER change color to background picture*/
.header { 
    background-color: #575757; 
}
.nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-title-color);
}
.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.header-dark-btn {
    color: var(--main-btn-color);
    background-color: transparent;
    border: 1px solid var(--main-btn-color);
}
.header-dark-btn:hover, .header-dark-btn:focus {
    background-color: var(--accent-color);
    border: transparent;
}
/* HERO */
.hero {
    background-color: #575757;
}
.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.365px;
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);
}
.hero-link:hover, .hero-link:focus {
    color: var(--accent-color);
}
.hero-text, .price-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--section-text-opacity);
}
.hero-title {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
}
.hero-descriprion {
    font-size: 18px;
    line-height: 1.66;   
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color);
}
/* ABOUT */
.about-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}
.about-sub-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color:  var(--secondary-title-color);
}
.about-description {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.about-text {
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }
.about-light-btn {
    color: var(--secondary-title-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
}
.about-light-btn:hover, .about-light-btn:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
}
.price-section {
    background-color: var(--secondary-background-color);
}
.price-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-title-color)
}
.price-list-item {
    font-size: 18px;
    line-height: 1.66;   
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color);
}
.benefits-title, .team-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--secondary-title-color);
}
.benefits-item-item {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--secondary-title-color);
}
.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--secondary-title-color);
}
.benefits-description, 
.team-description, 
.gallery-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}
.benefits-text {
font-size: 18px;
line-height: 1.66;
letter-spacing: 0.02em;
color: var(--text-color);
}
.team-section {
    background-color: var(--section-secondary-bcg-color);
}
.team-sub-title {
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color:  var(--secondary-title-color);
}
.team-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.booking-section, .address-section {
    background-color: var(--secondary-background-color);
}
.booking-title,
.address-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
}
.address-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.66;   
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color);
}
.address-tel, .address-mail,
.schedule-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.address-link:hover, .address-link:focus,
.address-tel:hover, .address-tel:focus,
.address-mail:hover, .address-mail:focus {
    color: var(--accent-color);
}
.schedule-sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);
}
.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-text-color);
}
.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}
