:root {
    --main-title-color: #FFFFFF;
    --secondary-title-color: #303030;
    --main-btn-color: #FFFFFF;
    --background-color: #E5E5E5;
    --accent-color: #FF6C00;
    --secondary-background-color: #191C26;
    --text-color: #555555;
    --secondary-text-color: #9DA4BD;
    --section-secondary-bcg-color: #F7F7F7;
    --section-text-opacity: rgba(157, 164, 189, 0.6);
    --indent: 30px;
    --items: 3;
}
body {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    margin: 0;
}
/* Reset starts */
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: currentColor;
} /* Reset ends */
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    /*outline: 1px solid tomato;*/
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;

    /*outline: 1px solid teal;*/
}
.button {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
    padding: 11px 19px;
    min-width: 160px;
    min-height: 40px;
}
/*CARD-SET*/
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
.card-set-item {
    flex-basis: calc ((100%-var(--indent) * (var(--items)-1)) / (var(--items)));
}
/* HEADER change color to background picture*/
.header-container {
    display: flex;
    align-items: center;
}
.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.header.no-transparency {
    background-color: rgba(25, 28, 38, 0.5);
    backdrop-filter: blur(2px);
}
.logo {
    margin-right: 132px;
}
.header-logo {
    fill: #303030;
}
.header.no-transparency .header-logo {
    fill: var(--main-title-color);
}
.header-nav {
    margin-right: auto;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-link {
    display: block;
    padding-top: 52px;
    padding-bottom: 52px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-title-color);
}
.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}
.header-address {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 20px;
}
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.header-dark-btn {
    color: var(--main-btn-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
}
.header-dark-btn:hover, .header-dark-btn:focus {
    background-color: var(--accent-color);
    border: transparent;
}
/* HERO */
.hero-container {
    display: flex;
}
.hero-left-side {
    width: 100px;
    display: flex;
    align-items: flex-end;
}
.hero-right-side {
    position: relative;
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
    background: rgba(25, 28, 38, 0.2);
    background-image: url(../img/hero-slider-img.jpg);
    background-size: cover;
}
.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.365px;
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);
}
.hero-link:hover, .hero-link:focus {
    color: var(--accent-color);
}
.uppertitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.uppertitle::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--secondary-title-color);
}
.uppertitle-theme-dark::before {
    background-color: rgba(157, 164, 189, 0.4);
}
.hero-text, .price-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--section-text-opacity);
}
.hero-title {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-bottom: 20px;
}
.hero-descriprion {
    font-size: 18px;
    line-height: 1.66;   
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color);
    width: 360px;
}
.slider-pagination {
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
}
.slider-pagination-item {
    margin-left: auto;
    width: 8px;
    height: 2px;
    background: var(--secondary-text-color);
}
.slider-pagination-item:not(:last-child) {
    margin-bottom: 12px;
}
.slider-pagination-item.active {
    width: 18px;
    background-color: var(--main-title-color);
}
.slider-list {
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.slider-btn {
    width: 60px;
    height: 24px;
    padding: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;

    color: var(--main-btn-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main-btn-color);
    cursor: pointer;
}
.slider-btn.prev {
    text-align: left;
}
.slider-btn.next {
    text-align: right;
}
.slider-btn[disabled] {
    color: var(--section-text-opacity);
    border-color: 1px solid var(--section-text-opacity);
}
/* ABOUT */
.about-container {
    display: flex;
}
.about-list {
    display: flex;
    margin-right: 30px;
}
.about-item:not(:last-child) {
    margin-right: 30px;
}
.about-right-side {
    width: 470px;
}
.about-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}
.about-sub-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color:  var(--secondary-title-color);
    margin-bottom: 20px;
}
.about-description {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 20px;
}
.about-text {
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 42px;
    }
.about-light-btn {
    color: var(--secondary-title-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
}
.about-light-btn:hover, .about-light-btn:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
}
/* PRICE */
.price-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--secondary-background-color);
    background-image: url(../img/price-bcground.png);
    background-repeat: no-repeat;
    background-position: center;
}
.price-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.price-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-bottom: 44px;
}
.price-list {
    flex-basis: 570px;
    padding: 30px 20px;
}
.price-list:first-child {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%); ;
}
.price-list:last-child {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);

}
.price-list-item {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    line-height: 1.66;   
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color);
}
.price-list-item:not(:last-child) {
    margin-bottom: 20px;
}
.price-list-item::before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin-left: 12px;
    margin-right: 12px;
}
.price-item-service {
    order: -1;
}
.button-price {
    display: block;
    margin: 0 auto;
}
/* BENEFITS */
.benefits-container {
    display: flex;
    gap: 30px;
}
.benefits-left-side {
    width: 50%;
}
.benefits-right-side {
    width: 500px;
}
.benefits-list {
    width: 370px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.benefits-item {
    width: 170px;
    min-height: 133px;
    padding: 20px 24px;
    text-align: center;
    background-color: var(--section-secondary-bcg-color);
}
.benefits-item:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
}
.benefits-quantity {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--secondary-title-color);
}
.benefits-quantity:after {
    content: "+";
    position: absolute;
    top: 7px;
    right: -15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: var(--accent-color);
}
.benefits-title, .team-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--secondary-title-color);
}
.benefits-title {
    width: 430px;
    margin-bottom: 20px;
}
.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--secondary-title-color);
}
.benefits-description, 
.team-description, 
.gallery-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}
.benefits-text {
    width: 500px;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
/* TEAM */
.team-section {
    background-color: var(--section-secondary-bcg-color);
}
.team-title {
    margin-bottom: 44px;
}
.team-sub-title {
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color:  var(--secondary-title-color);
    margin-bottom: 8px;
}
.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 30px;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--secondary-title-color);
    background-color: var(--main-btn-color);
}
.socials-link:hover, .socials-link:focus {
    color: var(--accent-color);
}
.social-icons {
    fill: currentColor;
}
/* GALLERY */
.gallery-description {
    margin-bottom: 45px;
}
.gallery-list {
    --items: 4;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* BOOKING */
.contact-group {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--secondary-background-color);
    background-image: url(../img/contacts-bg.png);
    background-repeat: no-repeat;
    background-position: left calc(50% + 408px) top 50%;
}
.contacts-container {
    display: flex;
    justify-content: space-between;
}
.booking-section, .address-section {
    width: 570px;
}
.address-section {
    padding-left: 100px;
}
.booking-title,
.address-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
}
/* ADDRESS */
.address-wrapper {
    margin-bottom: 70px;
}
.address-title {
    margin-bottom: 40px;
}
.address-container {
    margin-bottom: 70px;
}
.address-link {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.66;   
    letter-spacing: 0.02em;
    color:  var(--secondary-text-color);
    margin-bottom: 20px;
}
.address-tel, .address-mail,
.schedule-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.address-tel {
    margin-bottom: 20px;
}
.address-tel, .address-mail {
    display: flex;
    align-items: center;
    gap: 16px;
}
.schedule-sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--main-title-color);
}
/* FOOTER */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px;
}
.footer-list {
    display: flex;
    gap: 40px;
}
.footer-item {
    display: inline-flex;
    align-items: center;
}
.instagram-link::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: var(--secondary-title-color);
}
.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);
}
.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-text-color);
}
.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}
